---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";

import { Image } from "astro:assets";
import photoProfile from "../../public/images/photoProfile.jpg";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Works from "../components/Works.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import About from "../components/icons/About.astro";
import Information from "../components/Information.astro";
---

<Layout
  title="Portfolio de JosePM | Desarrollador y Programador"
  description="Contrata a JosePM para desarrollar aplicaciones web. Estudiante de Ciencias de la Computación, especializado en desarrollo de aplicaciones."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <Image
        src={photoProfile}
        loading="lazy"
        quality="high"
        alt="josepm"
        width="90"
        height="100"
        class="w-[90px] h-[100px] rounded-full mb-5"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Jose Pachas <a
          href="https://www.linkedin.com/in/jos%C3%A9-emiliano-pachas-mariluz-808582271/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-yellow-200/80">
          Estudiante de Ciencias de la Computación</span
        >.<span class="text-red-200/80">
          De Lima, Perú &#x1F1F5;&#x1F1EA;
        </span>. <span class="opacity-70"
          >Especializado en el desarrollo de aplicaciones y algoritmos.</span
        >
      </h2>

      <nav class="flex gap-4 mt-7 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/jos%C3%A9-emiliano-pachas-mariluz-808582271"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Aushzlten12">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:josepachas1604@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          josepachas1604@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-7 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Mi experiencia
      </h2>
      <Works />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-7 flex gap-x-3 items-center">
        <Code class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-7 flex gap-x-3 items-center">
        <About class="size-7" />
        Sobre mí
      </h2>
      <Information />
    </SectionContainer>
  </main>
</Layout>
