<header
  id="main-header"
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex
  flex-row
  sm:gap-x-10
  gap-x-5
  opacity-80
  sm:text-base
  px-5
  rounded-full
  text-gray-100
  bg-[#2b5876]
  text-[14px]"
  >
    <a href="#top" id="link-top" class="nav-link hover:text-yellow-500"
      >Inicio</a
    >
    <a
      href="#experiencia"
      id="link-experiencia"
      aria-label="experiencia"
      class="nav-link hover:text-yellow-500">Experiencia</a
    >
    <a
      href="#proyectos"
      aria-label="proyectos"
      id="link-proyectos"
      class="nav-link hover:text-yellow-500">Proyectos</a
    >
    <a
      href="#sobre-mi"
      aria-label="sobre-mi"
      id="link-sobre-mi"
      class="nav-link hover:text-yellow-500">Sobre mí</a
    >
    <a
      href="mailto:josepachas1604@gmail.com"
      id="link-contacto"
      aria-label="contacto"
      class="hover:text-yellow-500">Contacto</a
    >
  </nav>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const links = document.querySelectorAll(".nav-link");

      function updateLinkState() {
        links.forEach((link) => {
          if (window.location.hash === link.getAttribute("href")) {
            link.classList.add("text-yellow-500");
          } else {
            link.classList.remove("text-yellow-500");
          }
        });
      }

      updateLinkState();

      window.addEventListener("hashchange", updateLinkState);
    });
    window.addEventListener("scroll", function () {
      const link_1 = document.querySelector("#link-top");
      const link_2 = document.querySelector("#link-experiencia");
      const link_3 = document.querySelector("#link-proyectos");
      const link_4 = document.querySelector("#link-sobre-mi");

      if (window.scrollY > 0 && window.scrollY < 696) {
        link_2?.classList.remove("text-yellow-500");
        link_3?.classList.remove("text-yellow-500");
        link_4?.classList.remove("text-yellow-500");
        link_1?.classList.add("text-yellow-500");
      } else if (window.scrollY >= 696 && window.scrollY < 1089) {
        link_1?.classList.remove("text-yellow-500");
        link_3?.classList.remove("text-yellow-500");
        link_4?.classList.remove("text-yellow-500");
        link_2?.classList.add("text-yellow-500");
      } else if (window.scrollY >= 1089 && window.scrollY < 3294) {
        link_2?.classList.remove("text-yellow-500");
        link_4?.classList.remove("text-yellow-500");
        link_1?.classList.remove("text-yellow-500");
        link_3?.classList.add("text-yellow-500");
      } else if (window.scrollY >= 3294) {
        link_3?.classList.remove("text-yellow-500");
        link_1?.classList.remove("text-yellow-500");
        link_2?.classList.remove("text-yellow-500");
        link_4?.classList.add("text-yellow-500");
      }
    });
  </script>
</header>
