<article class="flex gap-4">
  <div>
    <p class="mb-4 text-pretty">
      Me llamo Jose Pachas. Soy estudiante de Ciencias de la Computación en la
      Universidad Nacional de Ingeniería. Actualmente esto <strong
        class="text-yellow-200/90"
        >buscando experiencia laboral para mejorar mis habilidades</strong
      >
    </p>
    <p class="mb-4 text-pretty">
      Recientemente estoy <strong class="text-yellow-200/90">
        desarrollando proyectos personales tales como sitios web usando
        frameworks frontend y backend</strong
      >. Además de eso, estoy <strong class="text-yellow-200/90">
        investigando y desarrollando proyectos de Inteligencia Artificial.
      </strong>
    </p>
    <p class="mb-4 text-pretty">
      Mi objetivo es obtener más experiencia y a la vez más conocimientos para
      <strong class="text-yellow-200/90">
        mejorarar como desarrollador y siendo mejor en mi carrera universitaria.</strong
      >
    </p>
  </div>
</article>
